<mat-sidenav-container class="app-shell">
  <mat-sidenav
    #sidenav
    class="app-shell__sidenav"
    [mode]="sidenavMode()"
    [opened]="sidenavOpened()"
  >
    <mat-nav-list>
      @for (link of navLinks; track link.path) {
        <a
          mat-list-item
          [routerLink]="link.path"
          routerLinkActive="is-active"
          (click)="closeIfOverlay(sidenav)"
        >
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-shell__content">
    <mat-toolbar class="app-shell__toolbar">
      @if (sidenavMode() === 'over') {
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle navigation menu">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span class="app-shell__title">{{ title }}</span>
    </mat-toolbar>

    <main class="app-shell__main">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
